.info-page{
    background-color: #d0dcf3;
    padding: 25px;
    border-radius: 10px;
}

.Content-info .img-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content-info .img-box img{
    border-radius: 5px;
}

.Content-info .img-box .Content-info-landscape{
    display: none;
}

.Content-info-about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.Content-info-title{
    font-size: 3vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}
.tagline{
    color: black;
    text-align: center;
    padding-bottom: 1px;
    
}

.Content-info-description{
    display: flex;
    border-radius: 5px;
    padding: 15px;
    overflow-y: auto;
    box-shadow: inset 0 0 5px #000000;
    text-align: justify;
    color: black;
    font-family: Montserrat;
}

@media (max-width: 576px) {
    .Content-info .img-box .Content-info-landscape{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .Content-info-portrait{
        display: none;
    }
    .Content-info-title{
        margin-bottom: 10px;
    }
    .Content-info-description{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}