*{
      font-family: 'Montserrat', sans-serif !important;      
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.App{
      min-height: 0vh;
      background-color: #39445a;
      color: white;
      padding-top: 140px;
      padding-bottom: 90px;

}
@media(max-width:1000px){
      .App{
            padding-top: 90px;
      }
      .pageTitle{
            font-size: 6.4rem;
      }
}
.pageTitle{
      text-transform: uppercase;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 2vh;
      padding: 4px;
      color: white;
      margin: 20px;
}
.no-description{
      text-align: center;
      width: 100%;
      margin-top: 50px;
}